@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons {
    @apply w-6 h-6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

@layer components {
  .nav-link {
    @apply flex items-center gap-2 text-sm font-semibold;
  }
}

@layer components {
  .sm-icons {
    @apply w-4 h-4;
  }
}

@layer components {
  .tabel-row {
    @apply md:text-xl lg:text-2xl xl:text-3xl font-semibold text-base-content;
  }
}

/* Responsiveness */
@media screen and (min-width: 930px) {
  .upper-content h2 span {
    flex-direction: row;
  }
}

.weather {
  background: rgba(182, 182, 182, 0.2);
  backdrop-filter: blur(50px);
}

.backspan {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 20%;
  background: linear-gradient(to right, rgb(247, 38, 128), rgb(239, 66, 13));
}

/* Scrollbar dizayni */
::-webkit-scrollbar {
  width: 4px; /* yupqa scroll bar */
  height: 4px; /* gorizontal scroll uchun */
}

/* Track (orqa fon) */
::-webkit-scrollbar-track {
  background: #f5f5f5; /* juda och kulrang fon */
  border-radius: 10px;
}

/* Thumb (harakatlanuvchi qism) */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* och kulrang (gray-300) */
  border-radius: 10px;
}

/* Hover holati */
::-webkit-scrollbar-thumb:hover {
  background: #e5e7eb; /* yanada ochroq kulrang (gray-200) */
}

/* Firefox uchun */
* {
  scrollbar-width: thin; /* yupqa scroll */
  scrollbar-color: #d1d5db #f5f5f5; /* thumb | track */
}
body {
  scroll-behavior: smooth;
  overflow: hidden;
}

.span {
  box-shadow: 0 0 100px 150px #3c046b;
}
