@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons {
    @apply w-6 h-6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

@layer components {
  .nav-link {
    @apply flex items-center gap-2 text-xs;
  }
}

@layer components {
  .sm-icons {
    @apply w-4 h-4;
  }
}

@layer components {
  .tabel-row {
    @apply md:text-lg lg:text-2xl xl:text-3xl font-semibold text-base-content;
  }
}

/* Responsiveness */
@media screen and (min-width: 930px) {
  .upper-content h2 span {
    flex-direction: row;
  }
}
